<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 
<ion-card  >
  <ion-card-header>
    Pay Calculator </ion-card-header>
    <ion-card-content >
  <ion-item  >
    <ion-label  class="header" position="floating" >Number of hours worked:</ion-label>
    <ion-input [(ngModel)]="NumberOfHoursWorked"  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="header" position="floating" >Hourly rate:</ion-label>
    <ion-input [(ngModel)]="HourlyRate"  ></ion-input>
  </ion-item>
  <ion-button color="medium" (click)="CalculatePay()"  >Calculate</ion-button>
    </ion-card-content>
</ion-card>
  <ion-card  >
    <ion-card-header>
      Result </ion-card-header>
      <ion-card-content >
  <ion-list>
    <ion-item><ion-label class="ion-text-wrap" >regular pay : {{regularPay | currency }}</ion-label>
    
    </ion-item>
    <ion-item><ion-label class="ion-text-wrap" >overtime pay : {{overtimePay  | currency }}</ion-label>
 
    </ion-item>  
    <ion-item>
      <ion-label class="ion-text-wrap"  >total pay(regular+overtime,before tax): {{totalPay  | currency }}

      </ion-label>
  
      
    </ion-item>  
    <ion-item><ion-label class="ion-text-wrap" >tax(based on total pay) :{{tax  | currency }}</ion-label>
     
    </ion-item>  
 
</ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
